# Vercel Blob Storage for images\nBLOB_READ_WRITE_TOKEN=\n\n# Vercel KV for rate limiting and session storage\nKV_URL=\nKV_REST_API_URL=\nKV_REST_API_TOKEN=\nKV_REST_API_READ_ONLY_TOKEN=\n\n# Your Farcaster Channel information\nFARCASTER_CHANNEL_ID=\n\n# For Frame validation and auth\nFRAME_HOST=\n\n# Custom values\nCHANNEL_NAME=unique-vehicles\nMAX_IMAGE_SIZE=10